#top-wrapper {
    display: grid;
    grid-template: "controls stage" 100vh / 30% 70%;
}

main {
    grid-area: stage;
}

aside {
    grid-area: controls;
}

label {
    cursor: pointer;
}

aside fieldset {
    display: flex;
    flex-direction: column;
}

aside fieldset label + label {
    display: block;
    margin-top: 0.7rem;
}

aside legend:has(input[name="screen-in-mode"]:not(:checked)) ~ * {
    display: none !important;
}

aside label:has(input[name="screen-in-name"]) + fieldset,
aside label:has(input[name="screen-in-mobile-name"]) + fieldset {
    display: none;
}

aside label:has(input[name="screen-in-name"]:checked) + fieldset,
aside label:has(input[name="screen-in-mobile-name"]:checked) + fieldset {
    display: block;
}

aside label:has(input[name="screen-in-name"]:checked) + fieldset:has(legend:only-child)::before,
aside label:has(input[name="screen-in-mobile-name"]:checked) + fieldset:has(legend:only-child)::before {
    content: "Nothing to see here...";
}
