@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  padding: 2em;
  background-color: #000;
  color: #fff;
  line-height: 1.6;
}

.txtBtn {
  font-size: 1em;
  font-family: inherit;
  border: none;
  background: none;
  color: #787;
  transition: color 0.3s;
}
.txtBtn:hover {
  color: aquamarine;
}

.bigBtn {
  border: 1px solid #ccc;
  color: #000;
  font-size: 1em;
  font-family: inherit;
  padding: 0.25em 2em;
  background-image: linear-gradient(#aaa, #eee, #aaa);
  background-position-y: 100%;
  background-size: 100% 200%;
  transition: background-position-y 0.25s;
}
.bigBtn:hover {
  background-position-y: 50%;
}
.bigBtn:active {
  background-position-y: 0%;
}

fieldset {
  border: none;
}

select, input[type=text], input[type=number] {
  font-size: 1em;
  padding: 0.25em;
}

input[type=file] {
  display: none;
}

.icon {
  font-size: 1.4em;
  border: none;
  background: none;
  vertical-align: middle;
  cursor: pointer;
}
.icon svg {
  width: 1m;
  height: 1em;
  fill: #777;
  transition: fill 0.3s;
}
.icon:hover svg {
  fill: aquamarine;
}

.perspectiveWrapper {
  padding: 1em 0.25em;
  border-bottom: 1px solid #777;
  margin-bottom: 1em;
}
.perspectiveWrapper label {
  display: block;
  -webkit-padding-start: 2em;
          padding-inline-start: 2em;
  margin-bottom: 0.5em;
}
.perspectiveWrapper input {
  background: none;
  color: #ccf;
  border: none;
  border-bottom: 1px solid;
}
.perspectiveWrapper input:disabled {
  color: #336;
}

.animationName {
  display: inline-block;
  padding-inline: 0.25em;
}
.animationName::after {
  content: " {";
}

.animationDataline {
  -webkit-padding-start: 2em;
          padding-inline-start: 2em;
  margin-bottom: 0.5em;
}
.animationDataline input, .animationDataline select {
  background: none;
  color: #ccf;
  border: none;
  border-bottom: 1px solid;
}
.animationDataline input {
  width: 100px;
}
.animationDataline .customTimingInput {
  width: 240px;
}

.animationWrapper::after {
  content: " }";
}

.keyframesWrapper {
  -webkit-padding-start: 2em;
          padding-inline-start: 2em;
}

.keyframeWrapper {
  border: none;
}
.keyframeWrapper::after {
  content: " }";
  display: block;
}

.keyframeKey {
  display: inline-block;
  padding-inline: 0.25em;
}
.keyframeKey::after {
  content: "% {";
}

.propertiesWrapper {
  -webkit-padding-start: 2em;
          padding-inline-start: 2em;
}

.subInput {
  width: 100px;
}

.multiValuesBtn {
  width: 1em;
  background: none;
  border: none;
  fill: var(--fill, #777);
  transition: fill 0.3s;
}
.multiValuesBtn.on {
  --fill: lightcoral;
}
.multiValuesBtn:hover {
  --fill: aquamarine;
}

.liveWrapper {
  display: grid;
  place-items: center;
  position: fixed;
  inset: 0;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.9333333333);
  opacity: 0;
  transition: opacity 0.5s;
}
.liveWrapper * {
  transform-style: preserve-3d;
}
.liveWrapper.show {
  opacity: 1;
  pointer-events: revert;
}

.liveOutline {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 420px;
  height: 320px;
  transform: translate(-50%, -50%);
  border: 1px dashed #777;
}

.liveBtns {
  position: fixed;
  right: 24px;
  top: 24px;
}

.liveAnimationComponent {
  width: 420px;
  height: 320px;
  border: 1px solid #fff;
  background-image: url("./wix-motion-bg.jpeg");
}
.liveAnimationComponent::after {
  content: "TEXT";
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  font-size: 120px;
}

.dialog {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.9333333333);
  display: grid;
  place-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s;
}
.dialog_text {
  width: 90%;
  max-width: 520px;
  padding: 1em;
  background-color: #fff;
  color: #000;
}
.dialog.show {
  opacity: 1;
  pointer-events: all;
}
.dialog p {
  margin-bottom: 1em;
}/*# sourceMappingURL=style.css.map */
