.controls {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
  background: hsl(0deg, 0%, 95%);
  border-right: 1px solid hsl(0deg, 0%, 50%);
  overflow-y: scroll;
  overflow-x: hidden;

  .text-input {
    textarea {
      width: 100%;
      resize: none;
      box-sizing: border-box;
      border-color: var(--base-color-border);
      font-family: sans-serif;

      &:focus {
        outline: none;
        border-color: var(--focus-color-border);
      }
    }
  }
  // ul,
  // li {
  //     list-style-type: none;
  //     padding: 0;
  //     margin: 0;
  // }

  // fieldset {
  //     margin-bottom: 0.6em;
  // }

  // legend {
  //     font-weight: bold;
  // }

  // label {
  //     display: flex;
  //     justify-content: space-between;
  //     flex-direction: row;
  //     align-items: center;
  //     padding: 1px 2px;
  // }

  // input {
  //     vertical-align: middle;
  // }

  // i {
  //     display: flex;
  //     align-items: center;
  //     gap: 0.3em;
  //     [type="radio"] {
  //         margin: 3px 0 3px 3px;
  //     }
  // }

  // input[type="color"] {
  //     padding: 0;
  //     background: none;
  //     border: none;
  //     margin: 0 -2px;
  //     cursor: context-menu;
  // }

  // input[type="color"],
  // input[type="number"] {
  //     min-width: 3em;
  //     flex-basis: 0;
  // }

  // input[type="number"] {
  //     width: 3em;
  // }

  // h3 {
  //     margin-top: 0.5em;
  //     margin-bottom: 0.2em;
  //     font-size: 0.9rem;
  // }
}
