@use "./theme.scss";

/*
 * Media list
 */
.media-list {
  --media-item-height-px: 50px;

  position: relative;
  //padding-bottom: var(--media-item-height-px);
}

.media-list-items {
  list-style-type: none;
  padding: 0;
  margin: .5em 0;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.media-thumb {
  display: block;
  border: 1px solid var(--base-color-border);
  opacity: 0.8;
  width: 100%;
  height: var(--media-item-height-px);
  object-fit: cover;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 3px;

  &:hover {
    border-color: var(--hover-color-border);
    opacity: 1;
  }
}

.media-item {
  width: 50px;
  label {
    padding: 0;
  }
  svg {
    padding: 7px;
    overflow: visible;
  }
  path {
    fill-opacity: 0;
    stroke-width: 2px;
    stroke: var(--accent-color);
    vector-effect: non-scaling-stroke;

    &.reversed {
      display: none;
    }
  }

  input {
    opacity: 0;
    position: absolute;
    pointer-events: none;

    &:checked + .media-thumb {
      border-color: var(--checked-color-border);
      box-shadow: 0 0 0px 1px var(--checked-color-border);
      opacity: 1;
    }

    &:focus + .media-thumb {
      border-color: var(--focus-color-border);
      opacity: 1;
    }
  }
}
.media-item-other {
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding: 1px 2px;
  i {
    font-style: normal;
    line-height: 1.5;
  }
}

