.comp {
  .content {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: 1fr / 1fr;
    grid-template-areas: "content";
    place-items: center;

    .media,
    svg {
      grid-area: content;
      width: 100%;
      height: 100%;
      min-width: 0;
      min-height: 0;

      video,
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    svg {
      overflow: visible;

      path,
      text,
      textPath,
      tspan {
        vector-effect: non-scaling-stroke;
      }
    }
  }

  &:hover + .wireframe-layer {
    opacity: 1;
  }
}
.wireframe-layer{
  opacity: 0;

  &:hover {
    opacity: 1;
  }
}
